<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.module.mapper.BoorowBooksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.manage.module.entity.BoorowBooks">
        <id column="id" property="id" />
        <result column="readers_id" property="readersId" />
        <result column="book_id" property="bookId" />
        <result column="borrow_time" property="borrowTime" />
        <result column="expect_return_time" property="expectReturnTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_name" property="updateName" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="queryBoorowBooks" resultType="java.util.HashMap">
        SELECT
            br.id as readerId,
            br.reader_name as readerName,
            br.reader_sex as readerSex,
            bb.book_name as bookName,
            bb.front_image_url as frontImageUrl,
            bb.id as bookId,
            bbb.borrow_time as borrowTime,
            bbb.expect_return_time as expectReturnTime
        FROM
            `b_boorow_books` bbb
            LEFT JOIN b_books bb ON ( bbb.book_id = bb.id )
            LEFT JOIN b_readers br ON ( bbb.readers_id = br.id )
    </select>
</mapper>
